@font-face {
    font-family: ProductSans;
    src: url(/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: ProductSansBold;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}
*{
    font-family: ProductSans;
    padding:0;
    /* line-height:2.5em; */
}
#nav-mobile{
    display: none;
}
.avatar{
    width:150px;
    height:150px;
    border-radius:100em !important;
    overflow: hidden;
    margin-bottom:15px;
    border: #fff solid 10px;
    /* filter: grayscale(100); */
}

h1{
    font-weight: 700;
}
h3{
    font-weight:700;
    font-size:2em;
}
h4{
    font-weight: 700;
    font-size:1.8em;
    text-align: left;
}
p{
    font-size:1.2em;
    padding-bottom:20px;
}
#header{
    /* background-color: #fffcf2; */
}
.section-client .col-lg-2{
    font-size:1.1em;
}
.section-header{
    margin-top:80px;
    height:150px;
    display:flex;
}
.section-faq p{
    font-size:1.1em;
    text-align: left;
}
.faq-icon{
    width:100px;
    height:100px;
    border-radius:100em;
    margin-bottom:20px;
}
.nav{
    display:block;
    margin-top:15px;
    font-weight:500;
    font-size:1em;
}
.content-body{
    font-size:.9em;
    margin-bottom:50px;
    /* padding: 20px; */
    border-radius: 2em;
}
.content-body p{
    padding-bottom:0;
    margin-bottom:0;
}
.image-thumbnails{
    /* margin-top:50px; */
    margin-bottom:50px;
}
.image-thumbnails .col-sm-4{
    width:100%;
    padding:0;
}
.image-thumbnails img{
    width:100%;
    filter: grayscale(100);
}
.image-thumbnails img:hover{
    filter:none;
    cursor: pointer;
    transition: transform .2s;
}
/* .img-wrap{
    overflow: hidden;
    padding:5px;
} */
.footer{
    margin-bottom:30px;
}
.footer ol{
    margin-bottom:.5rem;
}
.footer-links li{
    list-style: none;
    display: inline;
    padding-left:20px;
    padding-right:20px;
    color:black;
    opacity: .7;
}
.nav li{
    list-style: none;
    display:inline;
    padding:20px;
}
.nav a{
    text-decoration: none;
    font-size:1.1em;
    color:black;
    opacity: .7;
    padding-bottom:10px;
}
.nav a:hover, #active{
    text-decoration-color: black;
    opacity: 1;
    border-bottom:solid 1px black;
}
.footer-links li:hover{
    opacity: 1;
}
.section-body{
    margin-top:50px;
    margin-bottom:50px;
}
.sub-header{
    opacity:.3;
}
#emotes{
    width:100%;
}
.modal-content{
    border:none;
    border-radius: 0;
}
.modal p{
    padding-bottom:0;
    margin-bottom:0;
}
.img-wrap{
    padding:0px;
    /* overflow: hidden; */
}
.img-content{
    /* display: none; */
    /* border-radius:10em;
    background: rgba(0,0,0,.5); */
    /* position: absolute; */
    /* color:white; */
    /* right:0; */
    z-index:10;
    padding:20px;
    width:100%;
    font-size: 14px;
}
.img-wrap:hover #imc-1,.img-wrap:hover #imc-2,.img-wrap:hover #imc-3{
    display: block;
}
.img-wrap:hover #imc-4,.img-wrap:hover #imc-5,.img-wrap:hover #imc-6{
    display: block;
}
.img-wrap:hover #imc-7,.img-wrap:hover #imc-8,.img-wrap:hover #imc-9{
    display: block;
}
#myBtn .d-flex{
    cursor: pointer;
    position: fixed;
    border-radius:1em;
    width:60px;
    height:60px;
    bottom: 15px;
    right: 5vh; 
    padding:15px;
    color:white;
    background:#09d0d0;
}

@media (max-width:1024px){
    #emotes{
        width:100%;
    }
}
@media (max-width:768px) and (max-height:1024px){
    #header{
        margin-bottom:50px;
    }
    .section-header{
        margin-top:50px;
        height:100px;
    }
    .nav li{
        list-style: none;
        display:inline;
        padding:15px;
    }
    #emotes{
        width:100%;
    }
}

@media (max-width:480px){
    #emotes{
        width:100%;
    }
    #nav-mobile{
        display: block;
    }
    #nav-desktop{
        display: none;
    }
    .section-header{
        margin-top:30px;
        height:300px;
    }
    .nav{
        margin-top:20px;
    }
    h1{
        font-size:30px;
    }
    h3{
        font-size:20px;
    }
    .section-faq h4{
        font-size:16px;
    }
    .section-faq .col-sm-4{
        margin-bottom:15px;
    }
    .image-thumbnails{
        padding-left:0px;
        padding-right:0px;
        margin-top:15px;
    }
    .section-client .col-sm-4{
        width:33.3333%;
    }
   
}
@media (max-width:390px){
    .section-header {
        margin-top: 50px;
        height: 80px;
    }
}